{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Add Resource {% endblock %}

{% block span %} Add Resource {% endblock %}

{% block content %}

{% if messages %}
<br>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        <div class="alert alert-primary" role="alert">
                        {{ message }}
        </div>     
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="center login">
<form action="{% url 'add_resource' %}" method="POST" >
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit"  class="btn btn-primary" value="Log in">Submit</button>   
</form>
</div>

{% endblock %}