{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} All Resources {% endblock %}

{% block span %} All Resources {% endblock %}

{% block content %}

<a  href="{% url 'download_csv' %}" >
    <button type="button" class="btn btn-outline-primary " style="margin-bottom: 1rem;margin-left: 25%;">Download_csv</button></a>
<div class="table-responsive">
<table class="table table-bordered"> 
    <thead>
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>IP Address</th>
        <th>Comment</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
          {% if items %}
            {% for item in items %}
    <tr>
        <td>{{ item.rsc_category }}</td>
        <td>{{ item.rsc_name }}</td>
        <td>{{ item.rsc_ip }}</td>
        <td>{{ item.rsc_comment }}</td>
        <td>{{ item.rsc_status }}</td>
        <td><a href="{% url 'edit_item' item.id %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a></td>
        <td><a href="{% url 'delete_resource' item.id %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a></td>
    </tr>
    {% endfor %}
    {%  else %}
    <p>No item available</p>
    {% endif %}
    
    </tbody>
</table>
</div>
{% endblock %}